* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: var(--background);
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  transition: opacity 250ms ease-out;
}

body.loading {
  opacity: 0;
}

.editor {
  resize: none;
  background-color: var(--background);
  color: var(--primary);
  font-family: var(--font-mono);
  font-size: 18px;
  line-height: 33px;
  border: none;
  outline: none;
  min-height: 100%;
  width: 100%;
  tab-size: 4;
  padding: 64px calc((100% - 880px) / 2);
  overflow: auto;
  overscroll-behavior: none;
}

.editor.narrow {
  padding: 64px calc((100% - 880px) / 2);
  line-height: 33px;
}

.editor.wide {
  padding: 24px;
  line-height: 28px;
}

.editor::placeholder {
  color: var(--secondary);
}

.editor:focus::placeholder {
  color: transparent;
}

.actions {
  position: fixed;
  bottom: 16px;
  right: 16px;
}

.actions button {
  appearance: none;
  border: none;
  outline: none;
  background-color: transparent;
  height: 36px;
  width: 40px;
  border-radius: 6px;
}

.actions button:hover {
  background-color: var(--quaternary);
}

.actions button:active {
  background-color: var(--tertiary);
}

.actions button svg {
  pointer-events: none;
  fill: var(--secondary);
}

.print-helper {
  display: none;
}

@media only screen and (max-width: 960px) {
  .editor,
  .editor.narrow {
    padding: 64px 40px;
  }
}

@media only screen and (max-width: 600px) {
  .editor,
  .editor.narrow {
    padding: 24px;
  }
}

@media print {
  html,
  body {
    height: auto;
    overflow: visible;
  }

  .print-helper {
    display: block;
  }

  .printing {
    display: none;
  }

  .print-helper,
  .editor {
    font-family: var(--font-mono);
    color: #000000 !important;
    padding: 0 !important;
    margin: 0 !important;
    font-size: 10pt !important;
    line-height: 1.5 !important;
    max-width: 100%;
    white-space: pre-wrap;
  }

  @page {
    height: auto;
    margin: 20px;
  }
}
